<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="browserName" value="chrome"></parameter>
    <classes>
    <class name="com.sauceDemo.TestPackage.TC01_VerifyLoginFunctionality"/>
      <class name="com.sauceDemo.TestPackage.TC02_VerifyAddPrdtFunctionality"/>
      <class name="com.sauceDemo.TestPackage.TC03_VerifyAddAllPrdtsFunctionality"/>
      <class name="com.sauceDemo.TestPackage.TC04_VerifyLogOutFunctionality"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
